.footer_register{
  background-color: #00A789;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer_info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.33;
}
.footer_ghLink{
  color: #fff;
}